.productDisplay{
    display: flex;
    margin: 0px 70px;

}
.productDisplay-left{
    display: flex;
    gap: 17px;
}
.productDisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productDisplay-img-list img{
    height: 163px;
}
.productDisplay-main-img{
    width: 650px;
    height: 700px;
}
.productDisplay-right
{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productDisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productDisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productDisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productDisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productDisplay-right-price-new{
    color: #ff4141;
    

}
.productDisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productDisplay-right-size{
    display: flex;
    margin: 20px 0px;
    gap: 20px;


}
.productDisplay-right-size div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productDisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    color: white;
    background:#ff4141;
    margin-bottom: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productDisplay-right-category{
    margin-top: 10px;
}
.productDisplay-right-category span{
    font-weight: 600;
}